# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Mitja\ownCloud\FAKS\FRI\2. Letnik\1. Semester\OR\1. Domača Naloga\ZaOddajo\Neobvezni Del\Sound\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
